.leaflet-container {
    width: 100vw;
    height: 100vh;
  }

  .MapContainer {
    z-index: 1; /* Lower z-index */
  }

  /* Style the zoom-in button */
.leaflet-control-zoom-in {
  color: white !important; 
  background-color: black !important ; /* Change to your preferred color */
  border: 1px solid white !important;
  border-bottom: none !important; 
  
}

/* Style the zoom-out button */
.leaflet-control-zoom-out {
  color: white !important; 
  background-color:  black !important; /* Change to your preferred color */
  border: 1px solid white !important;
  border-top: none !important; 
}

/* Hover effect for the zoom buttons */
.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  color: white; 
  background-color: grey !important; 
  cursor: pointer; /* Change cursor to indicate interactiveness */
}

.map-container {
  height: 100vh;
  width: 100vw;
}
